# vim: set ft=bash :

# history control
HISTSIZE=2000
HISTFILESIZE=2000
HISTTIMEFORMAT="%m/%d/%y %T "
# avoid duplicates..
export HISTCONTROL=ignoredups:erasedups

# Commands
alias ls='ls --color=always'
alias ll='ls -la'
alias cd..='cd ..'
alias lsd='ls -ld */'
alias lsh='ls -d .*'
alias confvim='vim -R ./.vim/vimrc'
alias confshell='vim -R ./.bash_profile'

# apps initialization
eval "$(fzf --bash)"
eval "$(zoxide init bash)"

