# vim: ft=bash :

# ---------------------------------------------------------
# History Control
# ---------------------------------------------------------
HISTSIZE=2000
HISTFILESIZE=2000
HISTTIMEFORMAT="%m/%d/%y %T "
# avoid duplicates..
export HISTCONTROL=ignoredups:erasedups

# ---------------------------------------------------------
# My Custom Alias
# ---------------------------------------------------------

if [[ ! -f /usr/bin/view ]]; then
	alias view="vim -R"
fi

# Edit cofigs
alias confshell='view ~/.bashrc'
alias checkhistory='view ~/.bash_history'
alias confalias='view ~/.my_aliases.rc'
alias confvim='view ~/.vim/vimrc'
alias confssh='view ~/.ssh/config'
alias confgit='view ~/.config/git/config'

# Commands
alias ls='ls --color=always'
alias ll='ls -l'
alias la='ls -la'
alias cd..='cd ..'
alias lsd='ls -ld */'
alias lsh='ls -d .*'
alias v='vim'
alias vd='vimdiff'

# Git alias
alias g='git'
alias gst='git status'
alias gc='git commit -v'
alias ga='git add'
alias gaa='git add --all'
alias gf='git fetch'
alias gl='git pull'
alias gp='git push'
alias gb='git branch'
alias gsw='git switch'
alias gd='git diff'

# ---------------------------------------------------------
# Composed commands ###
# ---------------------------------------------------------
git-remove-tag() {
	TAG=$1
	git tag -d $TAG
	git push origin :refs/tags/$TAG
}

container-list() {
	docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'
}

# ---------------------------------------------------------
# Appliction Initialization
# ---------------------------------------------------------
eval "$(fzf --bash)"
eval "$(zoxide init bash)"

# ---------------------------------------------------------
cd ~/Projects
# ---------------------------------------------------------


