[user]
	name =
	email =
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgSign = true
[gpg "ssh"]
	allowedSignersFile = ./personal.allowed_signers.ssh

# vim: set ft=gitconfig ts=4 sw=4 noet :
