# --------------------------------------------------
# My Custom Alias
# --------------------------------------------------

alias view="vim -R"

if [[ $0 == '-bash' ]]; then
	alias confshell='view ~/.bashrc'
	alias confbash="view ~/.config/bash"
	alias checkhistory='view ~/.bash_history'
else # assuming zsh
	alias confshell='view ~/.zshrc'
	alias confzsh="view ~/.config/zsh"
	alias checkhistory='view ~/.zsh_history'
fi

# Edit Configs Alias
alias confalias='view ~/.alias.rc'
alias confvim='view ~/.config/vim/vimrc'
alias confssh='view ~/.ssh/config'
alias confgit='view ~/.config/git'
alias confignore='view ~/.config/git/excludes.gitconfig'

# Commands
alias vd='vimdiff'
alias lg='lazygit'
alias lsd='ls -ld */'
alias lsh='ls -d .*'

### Composed commands ###
# GIT
alias git-clean_tags='git fetch --prune origin "+refs/tags/*:refs/tags/*r"'
alias gfl='git flow'
git-remove-tag() {
	TAG=$1
	git tag -d $TAG
	git push origin :refs/tags/$TAG
}

# DOCKER
alias dk='docker'
alias dkps='docker container ls --format "table {{.ID}}\t{{.Image}}\t{{.Names}}\t{{.Status}}"'
alias dkpf='docker container ls --format "table {{.ID}}\t{{.Names}}\t{{.CreatedAt}}\t{{.State}}\t{{.Ports}}"'
alias dkim='docker image ls'
alias dkif='docker image ls --format "table {{.ID}}\t{{.Repository}}\t{{.Tag}}\t{{.CreatedAt}}\t{{.CreatedSince}}"'

alias docker-clean-volumes='docker volume rm $(docker volume ls --quiet --filter "dangling=true")'
alias docker-clean-images='docker image rm $(docker image ls --quiet --filter "dangling=true")'

# vim: ft=sh :
