# ------------------------------------------------------------------------------
# Base configuration
# ------------------------------------------------------------------------------
;[user]
;	name = OliverHR
;	email = @OliverHR
[core]
	excludesfile = ~/.gitconfig/ignore.global.rc
	editor = vim
	pager = delta
[init]
	defaultBranch = main
[commit]
	gpgSign = false
	template = ~/.stCommitMsg
[pull]
	rebase = false

[interactive]
	diffFilter = delta --color-only

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# ------------------------------------------------------------------------------
# External tool to diff on the command line
# - A syntax-highlighting pager for git, diff, and grep output
# - https://github.com/dandavison/delta
# ------------------------------------------------------------------------------
[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

# ------------------------------------------------------------------------------
# Merge configuration
# ------------------------------------------------------------------------------
[merge]
	tool = kaleidoscope
	conflictstyle = zdiff3
[mergetool]
	prompt = false
[mergetool "kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool "Vsourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

# ------------------------------------------------------------------------------
# Diff configuration
# ------------------------------------------------------------------------------
[diff]
[difftool]
	tool = kaleidoscope
	prompt = false
[difftool "kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

# ------------------------------------------------------------------------------
# Custom aliases
# ------------------------------------------------------------------------------
[alias]
	ignored = !git ls-files -v | grep "^[[:lower:]]"
	parent-branch = "!f() { \
		git show-branch \
			| grep '\\*' \
			| grep -v `git rev-parse --abbrev-ref HEAD` \
			| head -n1 \
			| sed 's/.*\\[\\(.*\\)\\].*/\\1/' \
			| sed 's/[\\^~].*//'; \
		}; f"
	worked = !git log --graph --pretty=format:'%C(Cyan)[%cr]%Creset %C(Yellow)%h%Creset %B' --date=relative $(git parent-branch)...HEAD
	branches = !git --no-pager branch
	tags = !git --no-pager tag
	commits = !git --no-pager log --no-merges --stat --oneline
	snip = !git branch --merged | egrep -v \"(^\\*|main|dev)\" | xargs git branch -d

# ------------------------------------------------------------------------------
# ---          Include custom local configuration based on paths             ---
# ------------------------------------------------------------------------------
# This is useful to set configurations for all local repositories per path
# For specific values on a repo still can be set with: `git --local config...`
# ------------------------------------------------------------------------------
# - user.{name,email,signingkey}
# - commit.gpgsign = [true|false]
# - gpg.{format,program}
# - tag.pgpSign
# ------------------------------------------------------------------------------
[includeIf "gitdir:~/Documents/Projects/Personal/"]
	path = ~/.gitconfig/config.personal.rc
[includeIf "gitdir:~/Documents/Projects/Work/"]
	path = ~/.gitconfig/config.work.rc

# vim: set ft=gitconfig ts=4 sw=4 noet :
