# --------------------------------------------------
# My Custom Alias
# --------------------------------------------------

# Edit cofigs
alias zshconfig="vim ~/.zshrc"
alias vimconfig="vim ~/.vim/vimrc"
alias aliasesconfig="vim ~/.my_aliases.rc"
alias sshconfig="vim ~/.ssh/config"

# Commands
# alias ls='ls --color=auto'
alias cd..="cd .."
alias lsd="ls -ld */"
alias lsh="ls -d .*"

# Composed commands
alias git_clean_tags="git fetch --prune origin '+refs/tags/*:refs/tags/*'"
alias git_log="git --no-pager log"

alias docker-list="docker ps --format 'table {{.ID}}\t{{.Image}}\t{{.Status}}\t{{.Names}}'"
alias docker-clean-volumes="docker volume ls -q -f 'dangling=true' | docker volume rm"
alias docker-clean-images="docker images -q -f 'dangling=true' | docker rmi"
