# vim: set ft=sh ts=4 sw=4 noet :

# _SHELL - defined on ~/.config/$_SHELL/rc.[sh|zsh]
export SHELL=$(which $_SHELL)

# -----------------------------------------------------------------------------
# System Environment Variables
# -----------------------------------------------------------------------------
# XDG Environmenet variables
export XDG_RUNTIME_DIR="/tmp/run/user/$(id -u)"
export XDG_CONFIG_HOME=$HOME/.config
export XDG_DATA_HOME=$HOME/.local/share
export XDG_STATE_HOME=$HOME/.local/state
export XDG_CACHE_HOME=$HOME/.cache

# Language environment vars
export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8

# -----------------------------------------------------------------------------
# Update PATH bin directories
# -----------------------------------------------------------------------------
_2pth() {
	local _dir=$1
	[[ ":$PATH:" != *":$_dir:"* ]] && [ -d "$_dir" ] && export PATH="$_dir:$PATH"
}
_2pth /usr/local/bin
_2pth $HOME/.local/bin

# -----------------------------------------------------------------------------
# EDITOR
# Preferred editor for local and remote sessions
# -----------------------------------------------------------------------------
if [[ -n $SSH_CONNECTION ]]; then
    export EDITOR='vim'
else
    export EDITOR='nvim'
fi

# -----------------------------------------------------------------------------
# ALIAS
# For a full list of active aliases, run `alias`.
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/alias.rc && . $RCDOTDIR/alias.rc

# -----------------------------------------------------------------------------
# FUNCTIONS
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/functions.rc && . $RCDOTDIR/functions.rc

# -----------------------------------------------------------------------------
# OS Specific Configuration
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/os.conf.rc && . $RCDOTDIR/os.conf.rc

# -----------------------------------------------------------------------------
# Load additional tools configuration RC/SH files
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/tools.rc && . $RCDOTDIR/tools.rc || true

# -----------------------------------------------------------------------------
# Custom configuration (Needs to be created explicitly)
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/custom.rc && . $RCDOTDIR/custom.rc || true

