# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# Update PATH with local bin directories
# -----------------------------------------------------------------------------
test -d $HOME/bin && export PATH=$HOME/bin:$PATH
test -d $HOME/.local/bin && export PATH=$HOME/.local/bin:$PATH

# -----------------------------------------------------------------------------
# ALIAS
# For a full list of active aliases, run `alias`.
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/alias.rc && . $RCDOTDIR/alias.rc

# -----------------------------------------------------------------------------
# OS Specific Configuration
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/os.conf.rc && . $RCDOTDIR/os.conf.rc

# -----------------------------------------------------------------------------
# Load additional tools configuration RC/SH files
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/tools.rc && . $RCDOTDIR/tools.rc || true

# -----------------------------------------------------------------------------
# Custom configuration (Needs to be created explicitly)
# -----------------------------------------------------------------------------
test -s $RCDOTDIR/custom.rc && . $RCDOTDIR/custom.rc || true

# -----------------------------------------------------------------------------
# [Must] Tools initialization
# -----------------------------------------------------------------------------

# Direnv
eval "$(direnv hook $_SHELL)"

# Fuzzy finder fzf
source <(fzf --$_SHELL)

# Zoxide
eval "$(zoxide init $_SHELL)"

