# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# Linux RHEL based Settings
# -----------------------------------------------------------------------------
# export XDG_RUNTIME_DIR="/tmp/run/user/$(id -u $USER)"

alias yum='dnf'
