# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# Extra tools
# -----------------------------------------------------------------------------

# mise
# eval "$($HOME/.local/bin/mise activate $SHELL)"

# UV
# export UV_NATIVE_TLS=true
# eval "$(uv generate-shell-completion bash)"
# eval "$(uvx --generate-shell-completion bash)"

# fnm
# export PATH="$HOME/.local/share/fnm:$PATH"
# eval "$(fnm env)"

# Ocaml - Opam
# export PATH="$PATH:/home/P3280455/.opam/default"
# eval $(opam env)

# pnpm
# export PNPM_HOME="$HOME/.local/share/pnpm"
# export PATH="$PNPM_HOME:$PATH"

