# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# [Must] Tools initialization
# -----------------------------------------------------------------------------
# mise
# curl https://mise.run | sh
eval "$($HOME/.local/bin/mise activate $_SHELL)"

# Direnv
eval "$(direnv hook $_SHELL)"

# Fuzzy finder fzf
source <(fzf --$_SHELL)

# Zoxide
eval "$(zoxide init $_SHELL)"


# -----------------------------------------------------------------------------
# Extra tools
# -----------------------------------------------------------------------------

# UV
# export UV_NATIVE_TLS=true
# eval "$(uv generate-shell-completion bash)"
# eval "$(uvx --generate-shell-completion bash)"

# fnm
# export PATH="$HOME/.local/share/fnm:$PATH"
# eval "$(fnm env)"

# Ocaml - Opam
# export PATH="$PATH:/home/P3280455/.opam/default"
# eval $(opam env)

# pnpm
# export PNPM_HOME="$HOME/.local/share/pnpm"
# export PATH="$PNPM_HOME:$PATH"

