# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# Environmente variable used as shortcuts on WSL
# Convention is to name WSL users as Windows user
# -----------------------------------------------------------------------------
export WIN=/mnt/c/Users/$USER/
export WIN_PROJ=/mnt/c/Users/$USER/Projects/

