" =============================================================================
" Linux (WSL)
" =============================================================================

" ==================================================================
" VIMproved
set nocompatible
filetype plugin on
set modeline
set modelines=10

" Set utf8 as standard encoding and en_US as the standard language
scriptencoding utf-8
set encoding=utf8

" Use Unix as the standard file type
set fileformats=unix,dos,mac

" ================= Shell from MS-Dos to PowerShell ==================
" if has("win32unix")
  " TODO: check about vim config modularization
" endif

" ======================= Plug Settings ===========================
" set the runtime path to include Vundle and initialize
" https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
call plug#begin()

" - - - Utilities - - -
  Plug 'editorconfig/editorconfig-vim'
  Plug 'godlygeek/tabular'
  Plug 'junegunn/fzf'
  Plug 'junegunn/fzf.vim'
  Plug 'LunarWatcher/auto-pairs', { 'tag': 'v2.0.0' }
  Plug 'machakann/vim-sandwich'
  " Plug 'nanotee/zoxide.vim'     # NOT COMPATIBLE WITH VIM7
  Plug 'preservim/nerdcommenter'
  Plug 'preservim/nerdtree', { 'on': 'NERDTreeToggle' }
  Plug 'tpope/vim-fugitive'
  Plug 'vim-airline/vim-airline'
  Plug 'vim-airline/vim-airline-themes'
  " - - - Syntax - - -
  Plug 'hashivim/vim-terraform'
  Plug 'pearofducks/ansible-vim'
  Plug 'yasuhiroki/github-actions-yaml.vim'

  " - - - Colorschemes - - -
  Plug 'crusoexia/vim-monokai',       { 'as': 'colors/monokai' }
  Plug 'jacoborus/tender.vim',        { 'as': 'colors/tender' }
  Plug 'joshdick/onedark.vim',        { 'as': 'colors/onedark' }
  Plug 'nanotech/jellybeans.vim',     { 'as': 'colors/jellybeans' }
  Plug 'NLKNguyen/papercolor-theme',  { 'as': 'colors/papercolor' }

  " - - - Loaded last - - -
  Plug 'ryanoasis/vim-devicons'
" All of your Plugins must be added before the following line
call plug#end()           " required

" You can revert the settings after the call like so:
"   filetype indent off   " Disable file-type-specific indentation
"   syntax off            " Disable syntax highlighting
" Put your non-Plugin stuff after this line

" -------------------------------------------------------------------
" Plugins Settings
" -------------------------------------------------------------------
let NERDTreeIgnore = ['.git$[[dir]]']
let g:NERDTreeQuitOnOpen = 3
let g:NERDTreeWinPos = 'right'
let NERDTreeRespectWildIgnore = 1

" Format Terraform
let g:terraform_fmt_on_save=1
let g:terraform_align=1

" ========================= General Settings ========================
" Sets how many lines of history VIM has to remember
set history=1000

" Set to auto read when a file is changed from the outside
set autoread

" -------------------------- Mappings -------------------------------
" With a map leader it's possible to do extra key combinations
let mapleader = ','
let g:mapleader = ','

" Fast saving
nnoremap <leader>w :w<cr>
nnoremap <silent> <leader>wa :wa<cr>
nnoremap <leader>x :x<cr>
nnoremap <silent> <leader>wx :xa<cr>

" Fast quit
nnoremap <leader>q :q!<cr>
nnoremap <silent> <leader>qa :qa!<cr>

" Nerdtree
nnoremap <silent> <Bslash> :NERDTreeToggle<CR>
nnoremap <silent> <leader>l :NERDTreeFind<cr>

" Fuzzy finder
let $FZF_DEFAULT_COMMAND = 'rg --files --ignore-case --hidden'
map <silent> <C-p> :FZF!<cr>
nnoremap <silent> <leader>fz :FZ<cr>
nnoremap <silent> <leader>fa :Ag<cr>
nnoremap <silent> <leader>fr :RG<cr>
nnoremap <silent> <leader>ff :Files<cr>
nnoremap <silent> <leader>fb :Buffers<cr>
nnoremap <silent> <leader>fw :Windows<cr>
nnoremap <silent> <leader>fg :GitFiles?<cr>
nnoremap <silent> <leader>fl :Lines<cr>
nnoremap <silent> <leader>fs :BLines<cr>
nnoremap <silent> <leader>fc :Commits<cr>

" Search down for folders and tab-completition for all file related tasks
set path+=**

" ================ Shell buffet stay opened after exit ===============
nnoremap <silent> <leader>t :ter ++noclose<cr>

" ========================= User interface ==========================
" Set 7 lines to the cursor - when moving vertically using j/k
set scrolloff=7

" ========================= WildOptions ==============================
" Turn on the WiLd menu
set wildmode=list:longest
" enable ctrl-n and ctrl-p to scroll thru matches
set wildmenu

" stuff to ignore when tab completing
set wildignore=*.o,*.obj,*~,*.pyc
set wildignore+=*vim/backups*
set wildignore+=*sass-cache*
set wildignore+=*DS_Store*
set wildignore+=node_modules/**
set wildignore+=bower_components/**
set wildignore+=vendor/rails/**
set wildignore+=vendor/rails/**
set wildignore+=vendor/cache/**
set wildignore+=__pycache__
set wildignore+=*.gem
set wildignore+=log/**
set wildignore+=tmp/**
set wildignore+=*.png,*.jpg,*.gif
set wildignore+=*/tmp/*,*.so,*.swp,*.zip     " MacOSX/Linux
set wildignore+=*\\tmp\\*,*.zip,*.exe,*.pdb  " Windows

" Always show current position
set ruler
" Height of the command bar
set cmdheight=2
" A buffer becomes hidden when it is abandoned
set hidden
" Configure backspace so it acts as it should act
set backspace=eol,start,indent
set whichwrap+=<,>,h,l
" Ignore case when searching
set ignorecase
" When searching try to be smart about cases
set smartcase
" Highlight search results
set hlsearch
" Makes search act like search in modern browsers
set incsearch
" Don't redraw while executing macros (good performance config)
set lazyredraw
" For regular expressions turn magic on
set magic
" Show matching brackets when text indicator is over them
set showmatch
" How many tenths of a second to blink when matching brackets
set mat=2

" No annoying sound on errors
set noerrorbells
set novisualbell
set t_vb=
set tm=500

" Scrolling
set scrolloff=8         " Start scrolling when we're 8 lines away from margins
set sidescrolloff=15
set sidescroll=1

" Show status line
set laststatus=2

" ========================= Font & Color's ===========================
" Enable syntax highlighting
syntax enable

" Absolute number on view mode relative on insert mode
augroup numbertoggle
  " This is activated after 'set number'
  autocmd!
  autocmd BufEnter,FocusLost,InsertEnter,WinLeave   * if &nu && mode() != 'i' | set rnu   | endif
  autocmd BufLeave,FocusGained,InsertLeave,WinEnter * if &nu                  | set nornu | endif
augroup END

" Set more space on the left
set nonumber      " Avoid gutter clutter if not necessary
set foldcolumn=4  " max 12
set wrapmargin=4
highlight! link FoldColumn Normal

" Line number column transparent on colorscheme change its overriden
highlight clear LineNr
" Highlight current line
set cursorline
" Enable yanked to system clipboard
set clipboard=unnamed
set mouse=a

" == Color terminal related stuff ==
set t_Co=256

" Enable this only when terminal dislay weird chars
" because of an issue with devicons & airline this
" error mostly happen on Linux and WSL
set t_RV=

" == ColorScheme
set background=dark
colorscheme jellybeans

" Set Tab bar color background to translucid and line to black
highlight TabLineFill ctermfg=Black
highlight SpecialKey guibg=bg ctermbg=none

" Spelling mistakes will be colored up red.
hi SpellBad cterm=underline ctermfg=203 guifg=#ff5f5f
hi SpellLocal cterm=underline ctermfg=203 guifg=#ff5f5f
hi SpellRare cterm=underline ctermfg=203 guifg=#ff5f5f
hi SpellCap cterm=underline ctermfg=203 guifg=#ff5f5f

" Airline settings
let g:airline_powerline_fonts = 1
if !exists('g:airline_symbols')
  let g:airline_symbols = {}
endif

" Set Gutter column translucid - only work at start
highlight clear FoldColumn
highlight clear Folded
highlight clear SignColumn

" Colorize right extra white tab or space chars
highlight ExtraWhitespace ctermbg=red guibg=red
match ExtraWhitespace /\s\+$/
" Display tabs and trailing spaces visually
set list listchars=tab:\|\ ,trail:·

" -------------------------------------------------------------------
" => File backups
" -------------------------------------------------------------------
" Turn backup off, since most stuff is in SVN, git et.c anyway...
set nobackup
set nowritebackup
set noswapfile

" -------------------------------------------------------------------
" => Persistent Undo
" -------------------------------------------------------------------
" Keep undo history across sessions, by storing in file.
" silent !mkdir ~/.vim/undodir > /dev/null 2>&1
set undodir=~/.vim/undodir
set undofile

" -------------------------------------------------------------------
" => Text, tab and indent related
" -------------------------------------------------------------------
" Use spaces instead of tabs
set expandtab
" Be smart when using tabs ;)
set smarttab
" 1 tab 4 spaces for auto-identation and <<>> ==
set shiftwidth=4
" width of the TAB character
set tabstop=4

if has('autocmd')
  autocmd FileType gitcommit setlocal spell
  autocmd Filetype c,cpp set noexpandtab sw=4 ts=4 cinoptions+=L0
  autocmd Filetype python,ruby,php set expandtab sw=4 ts=4
  autocmd Filetype json,javascript,typescript,html set expandtab sw=2 ts=2
  autocmd Filetype markdown set expandtab sw=2 ts=2 wrap
  autocmd Filetype yaml set expandtab sw=2 ts=2 sts=2 wrap

  " Shell files Indent with tabs, align with spaces
  autocmd FileType sh,bash set noet ci pi sts=0 sw=4 ts=4

  " Go files Indent with tabs, align with spaces
  autocmd FileType go set noet ci pi sts=0 sw=4 ts=4

  " XML files Indent with tabs, align with spaces
  autocmd FileType xml set noet ci pi sts=0 sw=2 ts=2

  " Return to last edit position when opening files
  autocmd BufReadPost *
    \ if line("'\"") > 0 && line("'\"") <= line("$") |
    \   exe "normal! g`\"" |
    \ endif
  " But don't remember the cursor position in git commits
  au FileType gitcommit au! BufEnter COMMIT_EDITMSG call setpos('.', [0, 1, 1, 0])

  " Remove all traling whitespace at buffer saving
  autocmd BufWrite * :%s/\s\+$//ge
endif

" Linebreak on 500 characters
set linebreak
set textwidth=500

set autoindent    " Auto indent
set smartindent   " Smart indent
set nowrap        " Wrap lines

" Folds
set foldmethod=indent   " fold based on indent
set foldnestmax=3       " deepest fold is 3 levels
set nofoldenable        " dont fold by default

" --------------------------------------------------------------
" => Moving around, tabs, windows and buffers
" --------------------------------------------------------------
" Treat long lines as break lines (useful when moving around in them)
map j gj
map k gk

" Toggle line numbers on/off
map <silent><leader>n :set number!<cr>

" Smart way to move between windows
map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-h> <C-W>h
map <C-l> <C-W>l

" Quick open blank/new buffers
map <leader>bh :enew<cr>
map <leader>bv :vnew<cr>
map <leader>bt :tabnew<cr>
" Close the current buffer
map <silent><leader>bd :bdel<cr>
" Close all the buffers
map <silent><leader>ba :%bdelete<cr>
" Move between bufferrs
map <silent><leader>bn :bnext<cr>
map <silent><leader>bp :bprevious<cr>

" Useful mappings for managing tabs
map <leader>tn :tabnew<cr>
map <leader>to :tabonly<cr>
map <leader>tc :tabclose<cr>
map <leader>tm :tabmove<cr>
" Opens a new tab with the current buffer's relative path
map <leader>te :tabedit <c-r>=expand('%:~:.:h')<cr>/
" Shift+ arrow -> <-
nnoremap <S-RIGHT> :tabnext<cr>
nnoremap <S-LEFT> :tabprevious<cr>

" Splits prefer to the right and below
set splitright
set splitbelow
" Open a vertical split with the current buffer's relative path
map <leader>sv :vsplit <c-r>=expand('%:~:.:h')<cr>/
" Open a horizontal split with the current buffer's relative path
map <leader>sh :split <c-r>=expand('%:~:.:h')<cr>/

" Switch CWD to the directory of the open buffer
map <leader>cd :cd %:p:h<cr>:pwd<cr>

" Specify the behavior when switching between buffers
try
  set switchbuf=useopen,usetab,newtab
  set stal=2
catch
  " nothing for the moment
endtry

" Remember info about open buffers on close
set viminfo^=%

" ================ Custom Mappings ==================
" Additional way to go to toggle from insert and nomal mode
" Works on terminal and GUI in windows, in macos only with GUI
imap <S-Space> <Esc>
nmap <S-Space> i

" WSL hack for block mode when ctrl-q does not work
nnoremap <leader>vb <c-v>

" Insert date time pressing <f7> key
:nnoremap <F7> "=strftime('%c')<cr>P
:inoremap <F7> <C-R>=strftime('%c')<cr>

" Clear search higlight pressing enter same as :noh
:nnoremap <silent> <CR> :nohlsearch<cr><cr>

" Move a line of text using SHIFT+[jk]
nnoremap <S-Up> :m-2<cr>
nnoremap <S-Down> :m+<cr>
inoremap <S-Up> <Esc>:m-2<cr>
inoremap <S-Down> <Esc>:m+<cr>

" --------------------------------------------------------------
" => Spell checking
" --------------------------------------------------------------
" Pressing <leader>sl will toggle and turn toggle spell checking
map <leader>sl :setlocal spell!<cr>
" Move between errors
map <leader>sn ]s
map <leader>sp [s
" Add word to dictionary
map <leader>sa zg
" Suggest correction
map <leader>ss z=

" --------------------------------------------------------------
" => Misc
" --------------------------------------------------------------
" Remove the Windows ^M - when the encodings gets messed up
noremap <leader>rw mmHmt:%s/<C-V><cr>//ge<cr>'tzt'm

" Toggle paste mode on and off
map <leader>pp :setlocal paste!<cr>

" ================ Helper Functions ==================
" Don't close window, when deleting a buffer
command! Bclose call <SID>BufcloseCloseIt()
function! <SID>BufcloseCloseIt()
  let l:currentBufNum = bufnr('%')
  let l:alternateBufNum = bufnr('#')

  if buflisted(l:alternateBufNum)
    buffer #
  else
    bnext
  endif

  if bufnr('%') == l:currentBufNum
    new
  endif

  if buflisted(l:currentBufNum)
    execute('bdelete! '.l:currentBufNum)
  endif
endfunction

" vim: set ft=vim ts=2 sw=2 et :
