# vim: set ft=sh ts=4 sw=4 noet :

# -----------------------------------------------------------------------------
# Custom / Local specific configuration
# -----------------------------------------------------------------------------
export WIN=/mnt/c/Users/$USER/
export WIN_PROJ=/mnt/c/Users/$USER/Projects/

